In [1]:
%autosave 0

Autosave disabled

# Expressions

## Precedence Rules

In order of precedence (higher precedence on top and lower precedence on bottom):

```
**                           
*, /, %
+, -
<, >, <=, >=, ==, !=, in, not in
and, or
```

* This is a partial list.
* Operators of the same precedence level evaluate from left to right.
* Use paranthesis to over-ride precedence rules.

In [2]:
# What is the result of this expression? Why?

2 + 3 ** 2 * 5

47

## Integer division in Python 3.x

In [3]:
8 / 5

1.6

In [4]:
8 // 5

1

In [5]:
# Remainder operator "%"

18 % 5

3

## Different behavior of integer division in Python 2.x and 3.x

```
example     Python 2.x     Python 3.x
9 / 2          4              4.5
9 // 2         4              4
```

# Object oriented programming

What is an 'object'?

An object contains:
* data
* function(s) -- a.k.a. "member functions", or "methods"

Data have different types
* numeric
    - int
    - float
* textual (or strings)

## Useful commands to inspect an object

### List all member functions of an object: "dir"

In [6]:
a = 'hello'   # a string object

dir(a)        # show the member functions of object 'a'

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [7]:
# invoke a member function (example)

a

'hello'

In [8]:
a.upper()    # convert all characters of 'a' to upper case

'HELLO'

### Check the type of an object: "type"

In [9]:
a = 'hello'
type(a)

str

In [10]:
x = 3.14159
type(x)

float

In [11]:
y = 42
type(y)

int

## "Assignment" operation

This is an important concept in Python.

## single-value example

In [12]:
# Consider

a = 3
b = a
a = 5

# What is the value of b now? Why is b different from a?
b

3

## List example

In [13]:
# Consider

a = [ 1, 2 , 3]
b = a
a[0] = -99

# now a is
a

[-99, 2, 3]

In [14]:
# what is b now? why is b the same as a?

b

[-99, 2, 3]

# Strings

## Examples of string operators

In [15]:
# consider two strings:

s1 = 'abc'
s2 = 'xyz'

In [16]:
# concatenate

s1 + s2

'abcxyz'

In [17]:
# "multiply" (repeat the string N times)

s1 * 10

'abcabcabcabcabcabcabcabcabcabc'

## Membership

In [18]:
s1 = 'abcdefg'

'a' in s1

True

In [19]:
'z' in s1

False

In [20]:
'i' not in s1

True

## Indexing

A character in a string is indexed by either a positive index (0-based), or negative index.

For example:

```
s1   =   'a  b  c  d  e  f  g'

index     0  1  2  3  4  5  6
         -7 -6 -5 -4 -3 -2 -1                      
```

s1 = 'abcdefg'

In [21]:
s1[0]

'a'

In [22]:
s1[-1]

'g'

In [23]:
s1[2:]

'cdefg'

In [24]:
s1[2:4]     # Note: s1[4] (e) is not included in the output

'cd'

In [25]:
s1[1:5:2]   # every other char (increment "2") from s1[1] (b) to s1[4] (e)

'bd'

In [26]:
s1[1::3]

'be'

In [27]:
s1[::3]

'adg'

## Length of a string

In [28]:
s1 = 'abcdefghijk'
len(s1)

11

# List

* a collection of arbitrary objects accessed by integer indices
* enclosed by [ and ]
* can have nested lists (i.e. a list of lists of lists ...)

In [29]:
# can mixed different types in a list
x = [ 42, 3.14159, 'hello', [1,2,3] ]

In [30]:
# Accessed by indices

x[0]

42

In [31]:
x[2]

'hello'

In [32]:
x[2][-1]

'o'

In [33]:
x[3]

[1, 2, 3]

In [34]:
x[3][0]

1

## Some operators of the list objects

### Membership

In [35]:
x = [ 1, 3, 5, 7, 9]

In [36]:
3 in x

True

In [37]:
p = ['a', 'b', 'c', 'd', 'xyz']

In [38]:
1 in p

False

In [39]:
'a' in p

True

In [40]:
'x' in p

False

In [41]:
'xyz' in p

True

### Add an element to the end of a list

In [42]:
a = [ 1, 2, 3]

In [43]:
a.append(-99)

In [44]:
a

[1, 2, 3, -99]

### Insert an element at specified location

In [45]:
a = [1, 2, 3, 4]

In [46]:
a.insert(101, 2)

In [47]:
a

[1, 2, 3, 4, 2]

# Dictionary

A collection of key-value pair. Essentially a look-up table.

Example:

```
a = { 'John' : 60, 'Mary' : 80}
```

* Note the curly braket `{` and `}`, and the `:` separating the key and the value. 
* In this example, 60 and 80 are the values associated with the keys `John` and `Mary`, respectively.
* The spacing before and after the `:` are not required, i.e. writing 
```
'john':60
```
is identical to writing 
```
'john' : 60
```

## Updating a dictionary

In [48]:
d = {'a':20, 'b':50}
d

{'a': 20, 'b': 50}

In [49]:
# update an existing item

d['a'] = -99
d

{'a': -99, 'b': 50}

In [50]:
# add a new item. Here, "new" means the key does not already exist in the dictionary

d['xxx'] = 123
d

{'a': -99, 'b': 50, 'xxx': 123}